html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Chivo';
}

header{
    width: 96%;
    margin: 0;
    padding: 0 2%;
    background-color: #303030;
    color: #EEEEEE;
    font-size: 35px;
}

.content{
    width: 94%;
    margin: 0;
    padding: 0 3%;
    font-size: 28px;
}    

.content:not([data-view="true"]){
    display: none;
}

.content[data-view="true"]{
    display: block;
}
